* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    /* font-family: ; */
    font-family: "Poppins";
}
/* common */

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}

.header {
    height: 100vh;
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar .actions {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}
